body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 33.33333%);
  justify-content: start;
  color: white;
}

section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1 / 2;
  background-color: rgb(61, 222, 52);
}

.profile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: rgb(117, 132, 179);
}

article {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
}

.experience {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(191, 37, 177);
}

.education {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(230, 122, 169);
}

.blog {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: rgb(75, 7, 201);
}

.social-menu {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: rgb(213, 68, 84);
}

.contact {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: rgb(22, 130, 64)
}

.portfolio {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: rgb(187, 200, 238)
}
